<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MatchingPairsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBF9B6E81C8B51B500A48113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBF9B7061C8B51B600A48113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBF9B7111C8B51B600A48113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
